@font-face {
    font-family: cardFont;
    src: url(cardcharacters.ttf);
}
.number{
  font-family:cardFont;
}
.rounded{padding: 1%;margin: 3% 1%;border-radius:25px;float: left;background-image: linear-gradient(to bottom, rgb(15, 189, 160) , rgb(83, 229, 248))}