@font-face {
    font-family: cardFont;
    src: url(cardcharacters.ttf);
}
.number{
  font-family:cardFont;
}
.rounded{padding: 1%;margin: 3% 1%;border-radius:25px;float: left;background-image: linear-gradient(to bottom, rgb(15, 189, 160) , rgb(83, 229, 248))}

.titlebutton{

}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: whitesmoke;
    padding: 25px;
    width: 300px;
    opacity: 0.85;

    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    z-index: 9999;

    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}
